[Desktop Entry]
Type=Application
Name=Lightwrite
GenericName=Procesador de textos
GenericName[en]=Word processor
Comment=Procesador de textos para la terminal
Comment[en]=Terminal word processor
Exec=lightwrite
Terminal=true
Categories=Office;WordProcessor;TextEditor;
Keywords=writer;novel;text;editor;writing;
Icon=lightwrite
StartupNotify=false
